<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
 
  <link rel="stylesheet" href="{{ url_for('static',filename='timetable.css') }}"> 
  <!-- <link rel="stylesheet" href="timetable.css"> -->


  <style media="screen">
  </style>

  <meta charset="utf-8">
  <title></title>

</head>

<body>

  <div id="bg">

    <div id="title">
      <p>TIMETABLE
        <br>
        CONVERT</p>
    </div>


    <div id="titlechild">
      <p>Convert crs into timetable</p>
    </div>

    <button id="addsubject" type="button" name="button" >Add subject</button>

    <form action="/show" method="post" enctype="multipart/form-data">
      <label id="chooselab" for="pdf-upload">Choose file</label>
      <input type="file" id="pdf-upload" name="file" />
      <input type="submit" id="upload" value="Upload">
    </form>

  </div>

  <input type="button" id="convert" value="Convert">

  <div id="change">
    <input id="wallpaper" type="file" name="" value="">
    <input id="opacity" type="number" step="0.1" min="0.1" max="1" value="1">
  </div>

  <button id="check" type="button" name="button">Check</button>
  <button id="sub" type="button" name="button" style="display:none;">Subject</button>
  <button id="custom" type="button" name="button" style="display:none;">Customize</button>



  <hr />
  <canvas id="canvas" style="position: absolute; top:1000px;height: 1000px;width: 100%;"></canvas>




  <div id="imagewallpaper" class="timetable">

    <div class="DAY">

      <div id="MONDAY">

        <p>MON</p>

      </div>

      <div id="TUESDAY">

        <p>TUE</p>

      </div>

      <div id="WEDNESDAY">
        <p>WED</p>
      </div>

      <div id="THURSDAY">
        <p>THUR</p>
      </div>

      <div id="FRIDAY">
        <p>FRI</p>
      </div>

      <div id="SATURDAY">
        <p>SAT</p>
      </div>

      <div id="SUNDAY">
        <p>SUN</p>
      </div>

    </div>


    <div id="MON">


    </div>

    <div id="TUE">

    </div>

    <div id="WED">

    </div>

    <div id="THUR">

    </div>

    <div id="FRI">

    </div>

    <div id="SAT">

    </div>

    <div id="SUN">

    </div>

  </div>

  <embed id="pdfview" type="application/pdf" style="display:none;" />


  <div id="ELEMENT" style="display:none;">

    <ul id="SUBJECTELEMENT">


    </ul>

  </div>

  <div id="CUSTOMIZE" style="display:none;">

    <ul id="CUSTOMIZEELEMENT">





    </ul>



  </div>

  <div class="addsub" id="addsub" style="visibility:hidden;">

    <p style="display:inline">Subject</p>
    <input id="subjectadd" type="text" name="" value=""style="width:120px;height:17px;margin-left:7px;padding:4px;">

    <br><br>

    <p style="margin-left:10px;display:inline">Color</p>
    <input id="coloradd" style="margin-left:10px;" type="color" name="" value="#F58080">

    <br><br>

    <p style="margin-left:15px;display:inline">Day</p>
    
    
    <select id="day" name="day" >
      <option value="SUN">SUN</option>
      <option value="MON">MON</option>
      <option value="TUE">TUE</option>
      <option value="WED">WED</option>
      <option value="THUR">THUR</option>
      <option value="FRI">FRI</option>
      <option value="SAT">SAT</option>
    </select>
  

    <br><br>

    <p style="display:inline";>Start time</p>

    <input id="time_start"style="display:inline;margin:5px;" type="time" name="" value="08:00">

    <br>

    <p style="display:inline;">End time</p>

    <input id="time_end" style="display:inline;margin:10px;" type="time" name="" value="09:00">

    <br>

<div style="position:absolute;bottom:0;margin:20px;right:5px;"class="">
  <button id="doneadd" style="display: inline;" type="button" name="button">Done</button>
  <button id="canceladd"style="display: inline;"type="button" name="button">Cancel</button>

</div>


  </div>

  <div class="edit" id="edit" style="visibility:hidden;">

    <p style="display:inline">Subject</p>
    <input id="subjectedit" type="text" name="" value=""style="width:120px;height:17px;margin-left:7px;padding:4px;">

    <br><br>

    <p style="margin-left:10px;display:inline">Color</p>
    <input id="coloredit" style="margin-left:10px;" type="color" name="" value="#F58080">

    <br><br>

    <p style="margin-left:15px;display:inline">Day</p>
    
    
    <select id="dayedit" name="day" >
      <option value="SUN">SUN</option>
      <option value="MON">MON</option>
      <option value="TUE">TUE</option>
      <option value="WED">WED</option>
      <option value="THUR">THUR</option>
      <option value="FRI">FRI</option>
      <option value="SAT">SAT</option>
    </select>

    <br><br>

    <p style="display:inline";>Start time</p>

    <input id="time_startedit"style="display:inline;margin:5px;" type="time" name="" >

    <br>

    <p style="display:inline;">End time</p>

    <input id="time_endedit" style="display:inline;margin:10px;" type="time" name="" >

    <br>

<div style="position:absolute;bottom:0;margin:20px;right:5px;"class="">
  <button id="doneedit" style="display: inline;" type="button" name="button">Done</button>
  <button id="canceledit"style="display: inline;"type="button" name="button">Cancel</button>
  <button id="delete"type="button" name="button">Delete</button>
</div>


  </div>



  <!-- <script type="text/javascript" src="{{ url_for('static', filename='timetable.js') }}"></script>  -->
  <script>

var editindex;

var index = [];
var subjecttimetable=[];
var daytimetable=[];
var time_starttimetable=[];
var time_endtimetable=[];
var colortimetable=[];
var toptimetable=[];
var heighttimetable=[];



function constructtimetable(){

  console.log(index.length);

  for(var i=0;i<index.length;i++){
   
   if(i > 0 && i < index.length-1 ){

    document.getElementById(i).remove();

   }
      
  }

  for(var i=0;i<index.length;i++){  

    create(toptimetable[i],heighttimetable[i],subjecttimetable[i],index[i],daytimetable[i],time_starttimetable[i],time_endtimetable[i],colortimetable[i]);
  }
}

function colorgenerator(){
  var letters = '0123456789ABCDEF';
  var color = '#';

  for (var z = 0; z < 6; z++) {
    color += letters[Math.floor(Math.random() * 16)];
  }

  return color;
}


  document.getElementById('addsubject').addEventListener("click", function () {

    openaddsub();
  });


function openaddsub() {
  document.getElementById('addsub').style.visibility="visible";
};

document.getElementById("doneadd").addEventListener("click",myFunction);

document.getElementById('canceladd').addEventListener("click", function () {
  document.getElementById('addsub').style.visibility="hidden";
});



document.getElementById('canceledit').addEventListener("click", function () {

  document.getElementById('edit').style.visibility="hidden";
});



function enablingbutton(){

  var enable=false;

  if(document.getElementById('subjectadd').value==""){
    alert("Please fill the subject ");
  }
  else {
    enable=true;
  }

  return enable;
}

//  

document.getElementById("convert").addEventListener("click", function () {

    {% if data %}
    var info = {{ data| safe }};
    {% endif %}

    var info = JSON.stringify(info);

    var data = JSON.parse(info);

    for (var i = 0; i < data.length; i++) {

      var subject = data[i].SUBJECT;

      var daychoose = data[i].DAY;

      var time_start = data[i].START;

      var time_end = data[i].END;

      var format = data[i].FORMAT;

      var period = time_start - time_end;
      var width = period * 60;

      //starttime
      var fields = time_start.split('.');
      var hour = parseInt(fields[0]);

      if (format == "PM") {
        hour = hour + 12;
      }

      var minute = parseInt(fields[1]);
      var masa = (hour * 60) + minute;
      var button;

      //endtime
      var fields1 = time_end.split('.');
      var hour1 = parseInt(fields1[0]);

      if (format == "PM") {
        hour1 = hour1 + 12;
      }

      var minute1 = parseInt(fields1[1]);
      var masa1 = (hour1 * 60) + minute1;


      //period of subject
      var period = ((masa1 - masa) / 60) * 60;

      var periodtext = period.toString();

      //width of subject
      var height = periodtext + "px";


      //starttime aka top width
      var topcal = ((masa - 420) / 60) * 60;
      var toptext = topcal.toString();
      var top = toptext + "px";


      
       time_start = time_start.replace(".", ":");
       time_end = time_end.replace(".", ":");

      time_start = (hour+':'+fields[1]).trim();
      time_end =( hour1+':'+fields1[1]).trim();

     

      

      var x=index.length;


 
      var color;

      


        if (masa >= 420 && masa <= 1200 && masa1 >= 420 && masa1 <= 1200){

          found = false;
          function linearSearch(subject, subjecttimetable) {
            
            position = -1;
            start = 0;
         
            while(!found && start < subjecttimetable.length) {
                if(subjecttimetable[start] == subject) {
                    found = true;
                    position = start;
                  
  
                      color=colortimetable[position]; 
                    
                } else {
                    start += 1;
                      
                }
            }
            return found;
        
          }

          linearSearch(subject, subjecttimetable)

        //var found=linearSearch(subject, subjecttimetable);

        if(found==false){
          
          color=colorgenerator();
        }

          index.push(x);
          subjecttimetable.push(subject);
          daytimetable.push(daychoose);
          time_starttimetable.push(time_start);
          time_endtimetable.push(time_end);
          colortimetable.push(color);
          toptimetable.push(top);
          heighttimetable.push(height);
   
          x++;   
      

        }

        
        
        constructtimetable();
    }

    //console.log(time_starttimetable);

 });

document.getElementById("custom").addEventListener("click", function () {

    document.getElementById('ELEMENT').style.visibility = "hidden";
    document.getElementById('pdfview').style.visibility = "hidden";
    document.getElementById('SUBJECTELEMENT').style.visibility = "hidden";
    document.getElementById('CUSTOMIZEELEMENT').style.visibility = "visible";
    document.getElementById('CUSTOMIZE').style.visibility = "visible";
    var x = document.getElementById('SUBJECTELEMENT').childElementCount;
    var c = document.getElementById('SUBJECTELEMENT').childNodes;

    var last = c[x].className;
    var last = parseInt(last);
    var y = 1;
  })

document.getElementById("check").addEventListener("click", function () {
   document.getElementById('ELEMENT').style.visibility = "hidden";
   document.getElementById('pdfview').style.visibility = "visible";
   document.getElementById('SUBJECTELEMENT').style.visibility = "hidden";
   document.getElementById('CUSTOMIZE').style.visibility = "hidden";
   document.getElementById('CUSTOMIZEELEMENT').style.visibility = "hidden";

 });

document.getElementById("sub").addEventListener("click", function () {
   document.getElementById('ELEMENT').style.visibility = "visible";
   document.getElementById('pdfview').style.visibility = "hidden";
   document.getElementById('SUBJECTELEMENT').style.visibility = "visible";
   document.getElementById('CUSTOMIZE').style.visibility = "hidden";
   document.getElementById('CUSTOMIZEELEMENT').style.visibility = "hidden";
 });

document.getElementById("opacity").addEventListener("change", function () {
   var mon = document.getElementById('MON');
   var tue = document.getElementById('TUE');
   var wed = document.getElementById('WED');
   var thur = document.getElementById('THUR');
   var fri = document.getElementById('FRI');
   var sun = document.getElementById('SUN');
   var sat = document.getElementById('SAT');

   mon.style.opacity = this.value;
   tue.style.opacity = this.value;
   wed.style.opacity = this.value;
   thur.style.opacity = this.value;
   fri.style.opacity = this.value;
   sun.style.opacity = this.value;
   sat.style.opacity = this.value;
 });

document.getElementById('wallpaper').addEventListener('change', readURL, true);
  function readURL() {
   var file = document.getElementById("wallpaper").files[0];
   var reader = new FileReader();
   reader.onloadend = function () {
     document.getElementById('imagewallpaper').style.backgroundImage = "url(" + reader.result + ")";
   }
   if (file) {
     reader.readAsDataURL(file);
   } else {
   }
 }

 //ADD SUBJECT
 function create(top,height,subject,x,daychoose,time_start,time_end,color){

    var div = document.createElement("div");
    div.style.position = "absolute";
    div.style.top = top;
    div.style.width = "100%";
    div.style.height = height;
    div.style.background = color;
    div.style.color = "white";
    div.setAttribute("id", x);
    div.className = x;
  
    div.onclick = function () {

      editindex = this.id;
      console.log(editindex);
      document.getElementById("edit").style.visibility = "visible";

      document.getElementById('delete').addEventListener("click", function (){


            for(var i=0;i<index.length;i++){

              if(editindex==index[i]){
                index.splice(i,1);
                subjecttimetable.splice(i,1);
                daytimetable.splice(i,1);
                time_starttimetable.splice(i,1);
                time_endtimetable.splice(i,1);
                colortimetable.splice(i,1);
                toptimetable.splice(i,1);
                heighttimetable.splice(i,1);
              }

            }

     


         deleteRow(editindex);
         document.getElementById('edit').style.visibility="hidden";
      });


      for(var i=0;i<index.length;i++){

        

        if(editindex==index[i]){
           document.getElementById('subjectedit').value = subjecttimetable[i];

          document.getElementById('dayedit');

          day.options[day.selectedIndex].value = daytimetable[i];
     
          document.getElementById('time_startedit').value = time_starttimetable[i].trim();
     
           document.getElementById('time_endedit').value = time_endtimetable[i].trim();
     
           document.getElementById('coloredit').value = colortimetable[i];
        }
      }

      document.getElementById('doneedit').addEventListener("click", function (){
        editsubject(editindex);
      });


     

      

      //console.log(index);
    };

    var textforsub = document.createElement("H1") ;    
    var textsubject = document.createTextNode(subject);
    textforsub.style.position="absolute";
    textforsub.style.top="5px";
    textforsub.style.fontSize = "15px";
    textforsub.style.marginLeft="3px";
    textforsub.style.marginTop="7px";
    textforsub.style.fontFamily=" Calibri";

    textforsub.appendChild(textsubject);
    div.appendChild(textforsub);

   

    var ts = document.createElement("H1") ;    
    var hs = document.createTextNode(time_start.toString());
    ts.appendChild(hs);
    ts.style.position="absolute";
    ts.style.top = 0;
    ts.style.color = "white";
    ts.style.fontSize = "10px";
    ts.style.marginTop="-0.05px";
    ts.style.margin="3px";

    var te = document.createElement("H1") ;    
    var he = document.createTextNode(time_end.toString());
    te.appendChild(he);
    te.style.position="absolute";
    te.style.bottom = 0;
    te.style.right = 0;
    te.style.color = "white";
    te.style.fontSize = "10px";
    te.style.margin="3px";

    div.appendChild(ts);  
    div.appendChild(te);  
    


    document.getElementById(daychoose).appendChild(div);
    //document.getElementById(daychoose).appendChild(div2);
   


  }

 function editnumberindex(x) {
   var editindex = x;
 }

function myFunction(){
var enable;

enable=enablingbutton();


   var x = index.length;

   console.log(x);

   var subject = document.getElementById('subjectadd').value;

   var day = document.getElementById('day');

  var daychoose = day.options[day.selectedIndex].value;

   var time_start = document.getElementById('time_start').value;

   var time_end = document.getElementById('time_end').value;

   var color = document.getElementById('coloradd').value;

   var period = time_start - time_end;
   var width = period * 60;


   //starttime
   var fields = time_start.split(':');
   var hour = parseInt(fields[0]);
   var minute = parseInt(fields[1]);
   var masa = (hour * 60) + minute;

   //endtime
   var fields1 = time_end.split(':');
   var hour1 = parseInt(fields1[0]);
   var minute1 = parseInt(fields1[1]);
   var masa1 = (hour1 * 60) + minute1;

   //period of subject
   var period = ((masa1 - masa) / 60) * 60;

   var periodtext = period.toString();

   //width of subject
   var height = periodtext + "px";


   //starttime aka top width
   var topcal = ((masa - 420) / 60) * 60;
   var toptext = topcal.toString();
   var top = toptext + "px";

   var combine = time_start + ' - ' + time_end;

   if (masa >= 420 && masa <= 1200 && masa1 >= 420 && masa1 <= 1200) {

       index.push(x);
       subjecttimetable.push(subject);
       daytimetable.push(daychoose);
       time_starttimetable.push(time_start);
       time_endtimetable.push(time_end);
       colortimetable.push(color);
       toptimetable.push(top);
       heighttimetable.push(height);

       x++;   
      
       console.log(time_start);
   }

   document.getElementById('addsub').style.visibility="hidden";
   constructtimetable();
 

 
 }

 function deleteRow(x) {

   document.getElementById(x).remove();
 

 }

function editsubject(editindex){
  var enable;

  enable=enablingbutton();


     var x = editindex;

     var subject = document.getElementById('subjectedit').value;

     var day = document.getElementById('day');

     var daychoose = day.options[day.selectedIndex].value;

     var time_start = document.getElementById('time_startedit').value;

     var time_end = document.getElementById('time_endedit').value;

     var color = document.getElementById('coloreditedit').value;

     var period = time_start - time_end;
     var width = period * 60;


     //starttime
     var fields = time_start.split(':');
     var hour = parseInt(fields[0]);
     var minute = parseInt(fields[1]);
     var masa = (hour * 60) + minute;

     //endtime
     var fields1 = time_end.split(':');
     var hour1 = parseInt(fields1[0]);
     var minute1 = parseInt(fields1[1]);
     var masa1 = (hour1 * 60) + minute1;

     //period of subject
     var period = ((masa1 - masa) / 60) * 60;

     var periodtext = period.toString();

     //width of subject
     var height = periodtext + "px";


     //starttime aka top width
     var topcal = ((masa - 420) / 60) * 60;
     var toptext = topcal.toString();
     var top = toptext + "px";

     var combine = time_start + ' - ' + time_end;

     if (masa >= 420 && masa <= 1200 && masa1 >= 420 && masa1 <= 1200) {

     
      index.push(x);
      subjecttimetable.push(subject);
      daytimetable.push(daychoose);
      time_starttimetable.push(time_start);
      time_endtimetable.push(time_end);
      colortimetable.push(color);
      toptimetable.push(top);
      heighttimetable.push(height);


       }

       constructtimetable();
       
}









</script>






</html>
